.imperador{     font-family:'Aladin', cursive; }
.imperador1{
    color: #292bbe;
    background-color: #1b9cbd;
}
.imperador2{
    color: #8000FF;
    background-color: #e41e87;
}
.imperador3{
    color: #5ec423;
    background-color: #00FF80;
}
.a{
    color: #3c582c;
    background-color: #95ec08;
}
.b{
    color: #119bf7;
    background-color: #1a2520;
}
.c{
    color: #434e04;
    background-color: #6b51dd;
}
